body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
}

.studio {
    color: #2E2F42;
}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.link-nav:hover {
    color: #404BBF;
}
.link-nav:focus {
    color: #404BBF;
}

.page-adress {
    font-style: normal;
}

.link-adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-adress:hover {
    color: #404BBF;
}
.link-adress:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.page-title {
    background-color: #2E2F42;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42 ;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.card-down {
    background-color: #FFFFFF
}

.team {
    background-color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
}
.footer-studio {
    color: #4D5AE5;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}